<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confessions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Confessions Website</h1>
    <div class="buttons">
        <a href="{{ url_for('write_confession') }}">
            <button>Write a Confession</button>
        </a>
        <a href="{{ url_for('see_confessions') }}">
            <button>See Confessions</button>
        </a>
    </div>
</body>
</html>
